
*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background-color:  black !important;
}

.date-filter {
  width: 418px;
  height: 56px;
  background: #1d1d1d;
  border-radius: 16px;
}

