
*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  color: black !important;
}
.px-5 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.py-10 {
  padding-top: 0 !important; 
   padding-bottom: 0 !important;
}

